<p-table #dt 
  [value]="skills" 
  [paginator]="true" 
  [rows]="4" 
  [responsive]="true"
  styleClass="p-datatable-striped"
  [globalFilterFields]="['text_EN','skillDescriptionEn','wage','minHour']"
  selectionMode="single"
  [(selection)]="selectedSkill"
  (onRowSelect)="onRowSelect($event)"
  styleClass="p-datatable-responsive">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
        <span class="p-input-icon-left p-ml-auto p-input-filled">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
        </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="text_EN">Skill <p-sortIcon field="text_EN"></p-sortIcon></th>
          <th pSortableColumn="skillDescriptionEn">Description</th>
          <th pSortableColumn="wage">Hourly Rate <p-sortIcon field="wage"></p-sortIcon></th>
          <th pSortableColumn="minHour">Minimum hours <p-sortIcon field="minHour"></p-sortIcon></th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-skillItem>
      <tr [pSelectableRow]="rowData">
          <td>
            <small class="p-column-title">Skill</small>
            <i class="pi pi-user"></i>
            <span class="primary">
              {{ skillItem.text_EN  | titlecase }}
            </span>
          </td>
          <td>
            <small class="p-column-title">Description</small>
            <span class="p-text-light">
              {{ skillItem.skillDescriptionEn }}
            </span>
          </td>
          <td>
            <small class="p-column-title">Hourly Rate</small>
            <span class="p-text-light">
              {{ skillItem.wage | currency: "USD" }}
            </span>
          </td>
          <td>
            <small class="p-column-title">Minimum Hours</small>
            <span class="p-text-light">
              {{ skillItem.minHour }}
            </span>
          </td>
      </tr>
  </ng-template>
</p-table>
