  <p-card>
    <ng-template pTemplate="title">
      Request Details
    </ng-template>
    <ng-template pTemplate="subtitle">
      Choose the skill and the number of hours needed for your job request.
      Each skill requested will be matched by a worker.
    </ng-template>
    <ng-template pTemplate="content">
      <!-- Ineractive Skills Cart Dialog loads dynamically (skillsComponent)-->
      <p-toast position="bottom-center" life="1000000" key="bc"></p-toast>
      <button type="button" (click)="show()" pButton icon="pi pi-user" label="Choose a Skill"></button>
      <!-- <app-skills></app-skills> -->

        <div class="p-field p-col-12 p-md-3">
          <label for="hours" style="display: block">Hours needed: {{requestForm.controls['hours'].value}}</label>
          <p-inputNumber
            formControlName="hours"
            [showButtons]="true"
            buttonLayout="vertical"
            spinnerMode="vertical"
            inputId="hours"
            [min]="3"
            [max]="8"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus">
          </p-inputNumber>
        </div>

        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-message ui-message-error ui-corner-all" *ngIf="!requestForm.controls['hours'].valid && showErrors">
            {{formErrors.hours}}
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-8 ui-md-4 ui-g-nopad">
            <label for="requiresHeavyLifting">Requires heavy lifting?</label>
          </div>
          <div class="ui-g-4 ui-md-8 ui-g-nopad">
            <p-inputSwitch id="requiresHeavyLifting" formControlName="requiresHeavyLifting"></p-inputSwitch>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="description">Additional info about job</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
            <textarea rows="3" class="ui-inputtext" formControlName="description" id="description" type="text" pInputText></textarea>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-message ui-message-error ui-corner-all" *ngIf="!requestForm.controls['description'].valid && showErrors">
            {{formErrors.description}}
          </div>
        </div>
    
            </div>
          <!-- Vertical divide ------------------ -->
          <div class="p-col-12 p-md-6">
  
              <div class="ui-g-12 ui-g-nopad">
                <div class="ui-message ui-message-error ui-corner-all" *ngIf="!requestForm.controls['hours'].valid && showErrors">
                  {{formErrors.hours}}
                </div>
              </div>
              <div class="ui-g-12">
                <div class="ui-g-8 ui-md-4 ui-g-nopad">
                  <label for="requiresHeavyLifting">Requires heavy lifting?</label>
                </div>
                <div class="ui-g-4 ui-md-8 ui-g-nopad">
                  <p-inputSwitch id="requiresHeavyLifting" formControlName="requiresHeavyLifting"></p-inputSwitch>
                </div>
              </div>
      
              <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4 ui-g-nopad">
                  <label for="description">Additional info about job</label>
                </div>
                <div class="ui-g-12 ui-md-8 ui-g-nopad">
                  <textarea rows="3" class="ui-inputtext" formControlName="description" id="description" type="text" pInputText></textarea>
                </div>
              </div>
          
            </div>
          </div>
  
          <div class="ui-g-12">
            <button pButton type="submit" label="Add request"></button>
          </div>
        </form>
      </p-fieldset>
      
      <p-fieldset legend="Your Request Summary">
        <p-table [value]="requestList" [(selection)]="selectedRequest" (onRowSelect)="onRowSelect($event)" [responsive]="true">
          <ng-template pTemplate="header">
            <tr [style]="{'padding':'.1em .875em'}">
              <th>Request #</th>
              <th>Skill needed</th>
              <th>Transport cost</th>
              <th>Hours Requested</th>
              <th>Notes</th>
              <th>Heavy lifting?</th>
              <th>Hourly wage</th>
              <th>Actions</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-requestListItem>
            <tr>
              <td>{{requestListItem.id}}</td>
              <td>{{requestListItem.skill}}</td>
              <td>{{requestListItem.transportCost}}</td>
              <td>{{requestListItem.hours}}</td>
              <td>{{requestListItem.description}}</td>
              <td>{{requestListItem.requiresHeavyLifting}}</td>
              <td>{{requestListItem.hourlyWage}}</td>
              <td>{{requestListItem.requiresHeavyLifting}}</td>
              <td>
                <button type="button" pButton pRipple (click)="editRequest(request)" icon="pi pi-pencil"></button>
                <button type="button" pButton pRipple (click)="deleteRequest(request)" icon="pi pi-trash"></button>
              </td>
    
    
    
            </tr>
    
          </ng-template>
          <!-- <p-column field="id" header="Request #" [style]="{'padding':'.1em .875em'}"></p-column>
          <p-column field="skill" header="Skill needed" [style]="{'padding':'.1em .875em'}"></p-column>
          <p-column field="transportCost" header="Transport cost" [style]="{'padding':'.1em .875em'}">
            <ng-template let-col let-wa="rowData" let-ri="rowIndex" pTemplate="body">
              <span>{{wa[col.field]| currency:'USD' }}</span>
            </ng-template>
          </p-column>
          <p-column field="hours" header="hours requested" [style]="{'padding':'.1em .875em'}"></p-column>
          <p-column field="description" header="notes" [style]="{'padding':'.1em .875em'}" ></p-column>
          <p-column field="requiresHeavyLifting" header="Heavy lifting?" [style]="{'padding':'.1em .875em'}">
            <ng-template let-col let-wa="rowData" let-ri="rowIndex" pTemplate="body">
              <span>{{wa[col.field] ? 'Yes' : 'No'}}</span>
            </ng-template>        
          </p-column>
          <p-column field="hourlyWage" header="Hourly wage" [style]="{'padding':'.1em .875em'}">
            <ng-template let-col let-wa="rowData" let-ri="rowIndex" pTemplate="body">
              <span>{{wa[col.field]| currency:'USD' }}</span>
            </ng-template>
          </p-column>
    
          <p-column styleClass="col-button">
            <ng-template pTemplate="header">
              Actions
            </ng-template>
            <ng-template let-request="rowData" pTemplate="body">
              <button type="button" pButton (click)="editRequest(request)" icon="ui-icon-edit"></button>
              <button type="button" pButton (click)="deleteRequest(request)" icon="ui-icon-delete"></button>
            </ng-template>
          </p-column> -->
        </p-table>
      </p-fieldset>
    </ng-template>


    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-end">
        <button pButton type="button"  (click)="finalize()" [disabled]="!hasRequests" label="Done with Jobs"></button>
      </div>
    </ng-template>
  </p-card>
