<p-card>
  <ng-template pTemplate="title">
    Job Details
  </ng-template>
  <ng-template pTemplate="subtitle">
    Choose the skill and the number of hours needed for your job request.
    Each skill requested will be matched by a worker.
  </ng-template>
  <ng-template pTemplate="content">
    <p-toast position="bottom-center" [key]="eMessages.ToastSkillSelection"></p-toast>
    <p-tabView [(activeIndex)]="activeTabIndex">
      <p-tabPanel header="Choose Jobs" leftIcon="pi pi-search">
        <form [formGroup]="requestForm" (ngSubmit)="saveRequest()">
          <div class="p-fluid p-formgrid p-grid">

            <div
              class="c-info-card p-shadow-6"
              *ngIf="selectedSkill.text_EN != null"
            >
              <div class="p-d-flex p-flex-column p-flex-md-row p-jc-between p-ai-center">
                <div class="p-order-2 p-order-md-1">
                  <div class="p-text-bold p-mb-2" style="font-size: 1.50rem;">
                    {{selectedSkill.text_EN | titlecase}}
                  </div>
                  <div style="font-weight: 90;">
                    {{selectedSkill.wage | currency: 'USD'}} /hr.
                  </div>
                  <div style="font-weight: 90;">
                    {{selectedSkill.minHour}}-hour minimum
                  </div>
                </div>
                <div style="font-weight: 80;font-size: .90rem;" class="p-order-3 p-order-md-2">
                  {{selectedSkill.skillDescriptionEn}}
                </div>
                <div style="font-size: 1.5rem;" class="p-order-1 p-order-md-3">
                  <i class="pi pi-info-circle"></i>
                </div>
              </div>
            </div>

            <div class="p-field p-grid p-jc-between p-ai-end p-col-12 p-md-4">
              <label class="p-col-12" for="hours">Skill</label>
              <div class="p-col-12">
                <!-- Ineractive Skills Cart Dialog loads dynamically (skillsComponent)-->
                <p-button
                  (click)="onShowSkillsCart()"
                  icon="pi pi-search"
                  [label]="requestForm.controls['skillId'].value != 0 ? 'Change Selection' : 'Select a Skill'"
                  styleClass="p-mr-2 p-button-help">
                </p-button>
                <!-- <app-skills></app-skills> -->
              </div>
            </div>

            <div class="p-field p-grid p-jc-between p-ai-start p-col-12 p-md-4 p-input-filled">
              <label class="p-col-12" for="hours">Hours needed</label>
              <div class="p-col-12">
                <p-inputNumber
                  formControlName="hours"
                  [showButtons]="true"
                  buttonLayout="horizontal"
                  inputId="hours"
                  spinnerMode="horizontal"
                  incrementButtonIcon="pi pi-plus"
                  decrementButtonIcon="pi pi-minus"
                  suffix=" hrs."
                  [min]="selectedSkill.minHour || 1"
                  [max]="8">
                </p-inputNumber>
              </div>
              <small class="p-invalid" *ngIf="!requestForm.controls['hours'].valid && showErrors">
                {{formErrors.hours}}
              </small>
            </div>

            <div class="p-field p-grid p-jc-between p-ai-start p-col-12 p-md-4">
              <label class="p-col-12" for="requiresHeavyLifting">Requires heavy lifting?</label>
              <div class="p-col-12">
                <p-inputSwitch id="requiresHeavyLifting" formControlName="requiresHeavyLifting"></p-inputSwitch>
              </div>
            </div>

            <div class="p-field p-col-12 p-ai-start p-input-filled">
              <label for="description">Additional info about job</label>
              <textarea autoResize="autoResize" formControlName="description" id="description" type="text" pInputTextarea></textarea>
              <small class="p-invalid" *ngIf="!requestForm.controls['description'].valid && showErrors">
                {{formErrors.description}}
              </small>
            </div>

          </div>

          <div class="p-grid p-nogutter p-justify-end">
            <p-button
              type="submit"
              [label]="newRequest ? 'Add Current Job to Your Request' : 'Save'"
              [disabled]="!requestForm.valid"
              (click)="onAddJobsToRequest()"
              [icon]="newRequest ? 'pi pi-plus' : 'pi pi-check'"
              iconPos="right"
              styleClass="p-button-success">
            </p-button>
          </div>
        </form>
      </p-tabPanel>

      <p-tabPanel header="Review and Continue" leftIcon="pi pi-check-square">
        <div class="p-col-12">
          <p-messages [closable]="true" [key]="eMessages.SuccessSkillSaved"></p-messages>
        </div>
        <p-table [value]="requestList" [(selection)]="selectedRequest" (onRowSelect)="onRowSelect($event)" [responsive]="true">
          <ng-template pTemplate="header">
            <tr [style]="{'padding':'.1em .875em'}">
              <th>Skill needed</th>
              <th>Hours Requested</th>
              <th>Notes</th>
              <th>Heavy lifting?</th>
              <th>Hourly wage</th>
              <th>Subtotal</th>
              <th style="width: 6rem;"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-requestListItem>
            <tr>
              <td>
                <small class="p-column-title">Skill needed</small>
                {{requestListItem.skill | titlecase }}
              </td>
              <td>
                <small class="p-column-title">Hours Requested</small>
                {{requestListItem.hours}}
              </td>
              <td>
                <small class="p-column-title">Notes</small>
                {{requestListItem.description}}
              </td>
              <td>
                <small class="p-column-title">Heavy lifting?</small>
                {{requestListItem.requiresHeavyLifting ? 'Yes' : 'No'}}
              </td>
              <td>
                <small class="p-column-title">Hourly wage</small>
                {{requestListItem.hourlyWage | currency:'USD'}}
              </td>
              <td>
                <small class="p-column-title">Subtotal</small>
                <span class="p-tag p-tag-warning">
                  {{ (requestListItem.hours * requestListItem.hourlyWage) | currency:'USD'}}
                </span>
              </td>
              <td>
                <div class="p-grid p-ai-start p-justify-end">
                  <button class="p-mr-2 p-button-rounded" type="button" pButton pRipple (click)="editRequest(requestListItem)" icon="pi pi-pencil"></button>
                  <button class="p-button-danger p-button-rounded" type="button" pButton pRipple (click)="deleteRequest(requestListItem)" icon="pi pi-trash"></button>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="p-grid p-ai-start p-justify-end p-mt-6">
          <p-button
            (click)="onAddMoreJobs()"
            [disabled]="!hasRequests"
            label="Add More Jobs"
            icon="pi pi-plus"
            iconPos="right"
            styleClass="p-button-success p-button-raised p-mr-2 p-mb-2 size">
          </p-button>
          <p-button
            (click)="finalize()"
            [disabled]="!hasRequests"
            label="Save and Continue"
            icon="pi pi-angle-right"
            iconPos="right"
            styleClass="p-button-raised size">
          </p-button>
        </div>
      </p-tabPanel>
    </p-tabView>
  </ng-template>


  <ng-template pTemplate="footer">

  </ng-template>
</p-card>
