<p-card>
  <ng-template pTemplate="title">
    Worksite Details
  </ng-template>
  <ng-template pTemplate="content">
    <form [formGroup]="orderForm" (ngSubmit)="save()">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-col-12 p-md-6">

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <p-calendar 
                id="dateOfWork"
                [minDate]="minOrderDate"
                [showIcon]="true"
                formControlName="dateOfWork"
                [touchUI]="isHandset$">
              </p-calendar>
              <label for="dateOfWork">Date needed</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['dateOfWork'].valid && showErrors">
              {{formErrors.dateOfWork}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <p-calendar id="timeOfWork"
                [defaultDate]="defaultOrderTime"
                timeOnly="true"
                dataType="string"
                [stepMinute]="30"
                showIcon="true"
                icon="pi pi-pencil"
                formControlName="timeOfWork"
                [touchUI]="isHandset$">
              </p-calendar>
              <label for="dateOfWork">Time needed</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['timeOfWork'].valid && showErrors">
              {{formErrors.timeOfWork}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <input
                formControlName="contactName"
                id="contactName"
                type="text"
                pInputText />
              <label for="contactName">Contact name</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['contactName'].valid && showErrors">
              {{formErrors.contactName}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <input
                formControlName="worksiteAddress1"
                id="worksiteAddress1"
                type="text"
                pInputText />
              <label for="contactName">Address (1)</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['worksiteAddress1'].valid && showErrors">
              {{formErrors.worksiteAddress1}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <input
                formControlName="worksiteAddress2"
                id="worksiteAddress2"
                type="text"
                pInputText />
              <label for="contactName">Address (2)</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['worksiteAddress2'].valid && showErrors">
              {{formErrors.worksiteAddress2}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <input
                formControlName="city"
                id="city"
                type="text"
                pInputText />
              <label for="city">City</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['city'].valid && showErrors">
              {{formErrors.city}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <p-inputMask
                formControlName="state"
                inputId="state"
                type="text"
                mask="aa">
              </p-inputMask>
              <label for="state">State</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['state'].valid && showErrors">
              {{formErrors.state}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <p-inputMask
                formControlName="zipcode"
                inputId="zipcode"
                type="text"
                mask="99999?-9999">
              </p-inputMask>
              <label for="zipcode">Zipcode</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['zipcode'].valid && showErrors">
              {{formErrors.zipcode}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <p-inputMask
                formControlName="phone"
                inputId="phone"
                mask="999-999-9999"
                type="text">
              </p-inputMask>
              <label for="phone">Phone</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['phone'].valid && showErrors">
              {{formErrors.phone}}
            </small>
          </div>

        </div>
        <!-- Vertical divide ///////////////////-->
        <div class="p-col-12 p-md-6">

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <textarea
                rows="5"
                autoResize="autoResize"
                formControlName="description"
                id="description"
                pInputTextarea>
              </textarea>
              <label for="description">Work Description</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['description'].valid && showErrors">
              {{formErrors.description}}
            </small>
          </div>
    
          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <p-dropdown id="englishRequired" [options]="yesNoDropDown" formControlName="englishRequired"></p-dropdown>
              <label for="englishRequired">Do you need an English-speaking worker?</label>
            </span>
            <small class="p-invalid" *ngIf="!!orderForm.controls['englishRequired'] && showErrors">
              {{formErrors.englishRequired}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled" *ngIf="orderForm.controls['englishRequired'].value">
            <span class="p-float-label">
              <textarea
                rows="5"
                autoResize="autoResize"
                formControlName="englishRequiredNote"
                id="englishRequiredNote"
                pInputTextarea>
              </textarea>
              <label for="englishRequiredNote">Please describe English requirement</label>
            </span>
            <small class="p-invalid" *ngIf="!orderForm.controls['englishRequiredNote'].valid && showErrors">
              {{formErrors.englishRequiredNote}}
            </small>
          </div>

          <div class="p-field p-col-12 p-input-filled">
            <span class="p-float-label">
              <p-dropdown id="transportProviderID" [options]="transportMethodsDropDown" formControlName="transportProviderID"
                          [autoWidth]="false"></p-dropdown>
            </span>
            <small class="p-invalid" *ngIf="!!orderForm.controls['transportProviderID'] && showErrors">
              {{formErrors.transportProviderID}}
            </small>
          </div>

          <div class="p-field p-col-12">
            <!-- <button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show transport rates" *ngIf="false"></button> -->
            <a href="https://casa-latina.org/hire-a-worker/" target="_blank">
              <button 
                pButton 
                pRipple 
                type="button"
                icon="pi pi-external-link"
                label="For transportation pricing, click here." 
                class="p-button-rounded p-button-help"
              ></button>
            </a>
          </div>

          <div class="p-field p-col-12" *ngIf="selectedTransport==32">
            <p-fieldset legend="Transportation Method Note">
              <p>
                Before picking a Casa Latina Van drop off time, please check for available times using the following calendar<br/>
                <a href="https://calendar.google.com/calendar/embed?src=voluntarios.casa.latina@gmail.com&ctz=America/Los_Angeles" target="_blank">
                For Van transport, select an available time slot.
                </a> <br/>
                Arrival times are estimates and can be adjusted by CL dispatchers due to traffic, or high demand, etc.
              </p>
            </p-fieldset>
          </div>

        </div>
      </div>
      <div class="p-grid p-nogutter p-justify-end">
        <button pButton type="submit" label="Save and Continue" icon="pi pi-chevron-right" iconPos="right"></button>
      </div>
    </form>
  </ng-template>
</p-card>

<div>
  <p-dialog header="Title" [(visible)]="displayTransportCosts">
      Content
  </p-dialog>
  <p-dialog header="User's guide" [(visible)]="displayUserGuide" modal="modal" width="300" [responsive]="true">
    Enter the basic information about the work, like the location
    of the worksite and the method of transport for the workers. 
    <p>
    You may pick up the workers, or Casa Latina offers a transport program 
    (fees apply), or you can pay for workers to use public transport.    
    <p-footer>
        <button type="button" pButton (click)="ackUserGuide()" label="Ok"></button>
    </p-footer>
  </p-dialog>
</div>
