<div class="ui-fluid">
  <div class="card ui-g-nopad">
    <form [formGroup]="orderForm" (ngSubmit)="save()" class="ui-g form-group">
      <div class="ui-g-12 ui-md-6 ui-g-nopad">
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-4  ui-g-nopad">
            <label for="dateTimeofWork">Time needed</label>
          </div>
          <div class="ui-g-12 ui-md-8  ui-g-nopad">
                <span class="md-inputfield">
                <p-calendar id="dateTimeofWork"
                            showTime="true"
                            formControlName="dateTimeofWork">
                </p-calendar>
                <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                  {{formErrors.dateTimeofWork}}
                </div>
                </span>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="contactName">Contact name</label>
          </div>
          <div class="ui-g-12  ui-md-8 ui-g-nopad">
                <span class="md-inputfield">
                  <input class="ui-inputtext ng-dirty ng-invalid" formControlName="contactName" id="contactName"
                         type="text" pInputText/>
                  <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                    {{formErrors.contactName}}
                  </div>
                </span>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="worksiteAddress1">Address (1)</label>
          </div>
          <div class="ui-g-12  ui-md-8 ui-g-nopad">
                <span class="md-inputfield">
                  <input class="ui-inputtext" formControlName="worksiteAddress1" id="worksiteAddress1" type="text"
                         pInputText/>
                  <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                    {{formErrors.worksiteAddress1}}
                  </div>
                </span>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-4  ui-g-nopad">
            <label for="worksiteAddress2">Address (2)</label>
          </div>
          <div class="ui-g-12  ui-md-8 ui-g-nopad">
            <input class="ui-inputtext" formControlName="worksiteAddress2" id="worksiteAddress2" type="text"
                   pInputText/>
          </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="city">City</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
            <span class="md-inputfield">
              <input class="ui-inputtext" formControlName="city" id="city" type="text" pInputText/>
              <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                  {{formErrors.city}}
              </div>
            </span>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="state">State</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
            <span class="md-inputfield">
              <input class="ui-inputtext" formControlName="state" id="state" type="text" pInputText/>
              <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                  {{formErrors.state}}
              </div>
            </span>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="zipcode">Zipcode</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
            <span class="md-inputfield">
              <input class="ui-inputtext" formControlName="zipcode" id="zipcode" type="text" pInputText/>
              <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                  {{formErrors.zipcode}}
              </div>
            </span>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="phone">Phone</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
            <span class="md-inputfield">
              <input class="ui-inputtext" 
                formControlName="phone" 
                id="phone" 
                type="text" 
                placeholder="123-456-7890"
                pInputText />
              <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                  {{formErrors.phone}}
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6">
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="description">Work Description</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
            <span class="md-inputfield">
              <textarea rows="5" pInputTextarea autoResize="autoResize" class="ui-inputtextarea"
                        formControlName="description" id="description" type="text"></textarea>
              <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                  {{formErrors.description}}
              </div>
            </span>
          </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-8 ui-md-10 ui-g-nopad">
              <label for="englishRequired">Do you need an English-speaking worker?</label>
            </div>
            <div class="ui-g-4 ui-md-2 ui-g-nopad">
              <p-toggleButton [(ngModel)]="engReqToggle" id="englishRequired" formControlName="englishRequired"></p-toggleButton>
            </div>
          </div>


        <div class="ui-g-12" *ngIf="engReqToggle">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="englishRequiredNote">Please describe English requirement</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
              <span class="md-inputfield">
                  <textarea rows="5" pInputTextarea autoResize="autoResize" class="ui-inputtextarea"
                            formControlName="englishRequiredNote" id="englishRequiredNote" type="text"></textarea>
                  <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                      {{formErrors.englishRequiredNote}}
                  </div>
                </span>
          </div>
        </div>
        <div class="ui-g-12">
          <div class="ui-g-12 ui-md-4 ui-g-nopad">
            <label for="transportProviderID">Transport method</label>
          </div>
          <div class="ui-g-12 ui-md-8 ui-g-nopad">
            <span class="md-inputfield">
              <p-dropdown id="transportProviderID" [(ngModel)]="selectedTransport" [options]="transportMethodsDropDown" formControlName="transportProviderID"
                          [autoWidth]="false"></p-dropdown>
              <div class="ui-message ui-message-error ui-corner-all" *ngIf="!orderForm.valid && showErrors">
                  {{formErrors.transportProviderID}}
              </div>
            </span>
          </div>
        </div>
        <div class="ui-g-12">
          <!-- <button type="button" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show transport rates" *ngIf="false"></button> -->
          <a href="http://casa-latina.org/get-involved/hire-worker#Do I have to pick up the worker?" target="_blank">
            For transportation pricing, click here.
          </a>
        </div>
        <div class="ui-g-12" *ngIf="selectedTransport==32">
          Before picking a Casa Latina Van drop off time, please check for available times using the following calendar<br/>
          <a href="https://calendar.google.com/calendar/embed?src=voluntarios.casa.latina@gmail.com&ctz=America/Los_Angeles" target="_blank">
            For Van transport, select an available time slot.
          </a> <br/>
          Arrival times are estimates and can be adjusted by CL dispatchers due to traffic, or high demand, etc.
        </div>
      </div>
      <div class="ui-g-12">
        <button pButton type="submit" label="Save"></button>
      </div>
    </form>
  </div>
</div>

<div>
  <p-dialog header="Title" [(visible)]="displayTransportCosts">
      Content
  </p-dialog>
  <p-dialog header="User's guide" [(visible)]="displayUserGuide" modal="modal" width="300" [responsive]="true">
    Enter the basic information about the work, like the location
    of the worksite and the method of transport for the workers. 
    <p>
    You may pick up the workers, or Casa Latina offers a transport program 
    (fees apply), or you can pay for workers to use public transport.    
    <p-footer>
        <button type="button" pButton (click)="ackUserGuide()" label="Ok"></button>
    </p-footer>
  </p-dialog>
</div>
