sudo: required
dist: trusty
language: node_js
node_js:
  - '7.0'

addons:
apt:
  sources:
    - google-chrome
  packages:
    - google-chrome-stable
    - google-chrome-beta

before_install:
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - npm i -g npm@4.1.2

before_script:
- npm install -g @angular/cli
- npm install -g karma
- npm install
- ng build

script: karma start karma.conf.js --single-run
