<div [formGroup]="form">
  <p-table  [value]="columns"
    [responsive]="true"
    styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th>Column name</th>
        <th>Contains nulls?</th>
        <th>Data type</th>
        <th>Include in export</th>
      </tr>
    </ng-template>
    <ng-template let-columns pTemplate="body">
      <tr class="p-selectable-row">
        <td>{{columns.name}}</td>
        <td>{{columns.is_nullable}}</td>
        <td>{{columns.system_type_name}}</td>
        <td>
          <p-inputSwitch onLabel="Yes" offLabel="No" [ngModelOptions]="{standalone: true}" [(ngModel)]="columns.include"></p-inputSwitch>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
