<h1>Exports</h1>
<div class="ui-g" >
  <div class="ui-g-12 ui-md-6">
    <p-dropdown
      id="exportsDD"
      placeholder="Select a table"
      [options]="exportsDropDown"
      (onChange)="getColumns()"
      [(ngModel)]="selectedExportName"
      [filter]="true"
      [style]="{'width':'10em'}"></p-dropdown>
  </div>
  <div class="ui-g-12 ui-md-6">
    <p-dropdown
      placeholder="date field for filter"
      [options]="dateFilterDropDown"
      [(ngModel)]="selectedDateFilter"
      [style]="{'width':'10em'}"></p-dropdown>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-3">
    <p-calendar
      placeholder="Start date"
      [showIcon]="true"
      [(ngModel)]="selectedStartDate"
      dataType="string"></p-calendar>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-3">
    <p-calendar
      placeholder="End date"
      [showIcon]="true"
      [(ngModel)]="selectedEndDate"
      dataType="string"></p-calendar>
  </div>
  <div class="ui-g-12 ui-md-4 ui-lg-3">
    <button pButton type="submit" label="Export" (click)="onSubmit()"></button>
  </div>
</div>
<div>
    <exports-options [columns]="selectedColumns" [form]="form"></exports-options>

</div>
