<div class="card">
  <full-order-view 
    [transportLabel]="transportLabel"
    [workerCount]="workerCount"
    [transportCost]="transportCost"
    [laborCost]="laborCost"
    [order]="order"
    [showPayPal]="false">
  </full-order-view>  
  <div *ngIf="transportCost > 0">
  You have chosen a transport method that has fees associated with it. You will need to
  pay the fees before the workers will be dispatched. You can pay using our PayPal form, 
  or call 206.956.0779 x3 to make arrangements. When you finalize this order below, you 
  will be taken to the PayPal transaction page. 
  </div>
  <div class="p-grid p-nogutter p-justify-end p-mt-4">
    <p-button icon="pi pi-send" iconPos="right" (click)="submit()" label="Review and submit"></p-button>
  </div>
</div>
