<div class="profile" [ngClass]="{'profile-expanded':active}">
    <a routerLink="/welcome"><div class="profile-image"></div></a>
    <a (click)="onClick($event)">
        <span class="profile-name">{{this.username}}</span>
        <i class="material-icons">keyboard_arrow_down</i>
    </a>
</div>

<ul class="ultima-menu profile-menu" [@menu]="active ? 'visible' : 'hidden'">
    <!-- <li role="menuitem">
        <a href="#" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
            <i class="material-icons">person</i>
            <span>Profile</span>
        </a>
    </li> -->
    <li role="menuitem">
        <a href="#" click="startSignoutMainWindow($event)" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
            <i class="material-icons">power_settings_new</i>
            <span>Logout</span>
        </a>
        <a routerLink="/welcome" class="ripplelink" [attr.tabindex]="!active ? '-1' : null">
            <i class="material-icons">account_circle</i>
            <span>User Dashboard</span>
        </a>
    </li>
</ul>
