<p>
  These are your past orders:
</p>
<p-dataTable
  #dt
  [value]="orders"
  [responsive]="true"
  resizable="true"
  >
  <p-header>
    
  </p-header>
  <p-column field="paperOrderNum" header="Order #"></p-column>
  <p-column field="dateTimeofWork" header="Time needed"></p-column>
  <p-column field="statusEN" header="Status"></p-column>
  <p-column field="transportMethodEN" header="Trans. method"></p-column>
  <p-column field="" header="Worker count"></p-column>
  <p-column field="contactName" header="Contact name"></p-column>
  <p-column field="workSiteAddress1" header="Address"></p-column>
  <p-column field="zipcode" header="Zipcode"></p-column>
</p-dataTable>