<strong>Please note:</strong>
<ol>
  <li>This order is not complete until you receive a confirmation email from Casa Latina.
    If you do not hear from us or if you need a worker with 48 hours please call 206.956.0779 x3 during our
    <a href="#" id="businessHoursModal">Business Hours</a>.
  </li>
  <li>Please allow a one hour window for worker(s) to arrive. This will account for transportation
    routes with multiple stops and for traffic. There is no transportation fee to hire a Casa Latina
    worker when you pick them up from our office. To have your worker(s) arrive at your door,
    there is a <a href="#" id="transportationMethodModal">small fee</a> payable through this form.
  </li>
  <li>Casa Latina workers are not contractors. You will need to provide all tools, materials, and
    safety equipment necessary for the job you wish to have done.
  </li>
</ol>
<label for="confirmCheckbox">Check the box if you agree to these terms </label>
<input type="checkbox" name="confirmBox" [(ngModel)]="status" (change)="checkConfirm($event)"> 
<!-- <p-checkbox type="checkbox" name="confirmBox" [(ngModel)]="status" (onChange)="checkConfirm($event)"> -->
