$primaryColor:#607D8B;
$primaryLightestColor: #ECEFF1;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#8b6e60;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
