
<div [innerHTML]="welcome" class="p-p-4 p-mt-6 c-info-border">
</div>
<button pButton type="button" (click)="login()" *ngIf="!isLoggedIn">Sign-in</button>

<p-dialog
    *ngIf="macheteOutage"
    [(visible)]="macheteOutage"
    [modal]="true"
    [maximizable]="false"
    [baseZIndex]="10000"
    [responsive]="true"
    [minY]="70"
    [closable]="true">
    <p-header>
        Online Hiring Temporarily Unavailable
    </p-header>
    {{outageMessage}}
    <p-footer>
        <a href="https://www.casa-latina.org" target="_blank">
            <button class="ui-button-warning" pButton type="button" (click)="display=true" label="Return to Casa Latina Website">
            </button>
        </a>
    </p-footer>
</p-dialog>
