/* You can add global styles to this file, and also import other style files */
// Global outlined input text styles //

.p-float-label textarea ~ label {
  top: 0;
}

// Global input styles End //

// Responsive Table Styles

.p-datatable-responsive .p-datatable-tbody > tr > td {
    word-break: break-word;
  & .p-column-title {
    display: none;
  }
}

.p-datatable-responsive .p-datatable-tbody > tr {
  align-items: center;
}

@media screen and (max-width: 40rem) {
  .p-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    display: flex;
    word-break: break-word;
  }
  .p-datatable {
    tr {
      font-size: small;

      &:nth-child(odd) {
        background: var(--surface-c);
      }
    }

    &.p-datatable-responsive {
      .p-datatable-thead > tr > th,
      .p-datatable-tfoot > tr > td {
        display: none !important;
      }

      .p-datatable-tbody > tr > td {
        &:last-child {
          border-bottom: 2px solid var(--surface-d);
        }
      }
    }
  }
}

// custom info card
.c-info-card {
  background: #b3e5fc;
  border: solid transparent;
  border-width: 0 0 0 0;
  border-radius: 4px;
  width: 100%;
  color: #044868;
  padding: 1.25rem 1rem;
  margin-bottom: 1rem;
}

.c-info-border {
  border: solid var(--surface-d);
  border-width: 1px;
  border-radius: 5px;
  padding: 1.25rem 1rem;
  margin-bottom: 1rem;
}

//custom card header
.c-card-header {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
  text-transform: uppercase;
}

// Invoice Lable
.c-invoice-label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.c-divider {
  border-bottom: .2px solid var(--surface-d);
  margin: 1.5rem 0 .2rem 0;
}

.c-hightlight {
  border-left: solid var(--primary-color);
  border-width: 1rem;
  padding-left: 1rem;
}

.c-bg-surface-c {
  background: var(--surface-c);
}
