<p-card>
  <ng-template pTemplate="title">
    About Casa Latina
  </ng-template>
  <ng-template pTemplate="content">
    <p>
      Casa Latina connects Latino immigrant workers with individuals and
      businesses looking for temporary labor. Our workers are skilled and
      dependable.
    </p>
    <p>
      From landscaping to dry walling to catering and housecleaning, if you can
      dream the project our workers can do it! For more information about our
      program please read these Frequently Asked Questions If you are ready to
      hire a worker, please fill out the following form.
    </p>

    <p>
      Casa Latina is taking all necessary precautions to keep employers and
      workers safe, therefore some jobs might not be available at this time.
    </p>
    <p>
      If you still have questions about hiring a worker, please call us at
      206.956.0779 x3.
    </p>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="p-grid p-nogutter p-justify-end">
      <span class="p-mr-2">
        <button
          (click)="onClick()"
          label="Next"
          icon="pi pi-chevron-right"
          iconPos="right"
          styleClass="p-mr-2"
          pButton
        ></button>
      </span>
      <button
        (click)="onClear()"
        label="Start over"
        icon="pi pi-undo"
        iconPos="right"
        pButton
      ></button>
    </div>
  </ng-template>

</p-card>
