
<p>
  Casa Latina connects Latino immigrant workers with individuals and businesses looking for temporary labor. Our workers are skilled and dependable. From landscaping to dry walling to catering and housecleaning, if you can dream the project our workers can do it! For more information about our program please read these Frequently Asked Questions
</p>
<p>
  If you are ready to hire a worker, please fill out the following form.
</p>
<p>
  If you still have questions about hiring a worker, please call us at 206.956.0779 x3.
</p>

<button pButton type="button" (click)="onClick()" label="Click"></button>